body {
  background-color: #000;
  color: #fff;
  font: 100%/150% "Lucida Sans Unicode", "Verdana", "Arial", "Helvetica",
   sans-serif;
}

a,
a:active,
a:before {
  color: red;
  font-style: none;
  text-decoration: none;
}

.logo,
.info,
.quote,
footer {
  text-align: center;
}

.content {
  width: 666px;
  margin: auto;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .content {
    width: 300px;
    margin: auto;
  }
  img {
    width: 150px;
  }
}


.links,
.content li a {
  font-size: 14px;
}

.list li {
  padding-top: 10px;
}

.quote {
  font-style: italic;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.message {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.answer {
  font-style: italic;
  font-size: 15px;
}
footer {
  padding-top: 50px;
}
